[submodule "vim.symlink/bundle/vim-pathogen"]
	path = vim.symlink/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim.symlink/bundle/vim-sensible"]
	path = vim.symlink/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim.symlink/bundle/vim-fugitive"]
	path = vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim.symlink/bundle/vim-rails"]
	path = vim.symlink/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim.symlink/bundle/vim-airline"]
	path = vim.symlink/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
